<header>
<h1> ADMIN CONTROLS </h1>


</header>



<body>

<h1>New Trail</h1>

<%= form_with model: @trail do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>







<% Trail.all.each do | t | %>
  <div> <%= link_to(t.name,trail_path(t)) %> </div>
  <div> Nodes: </div>
  <% t.nodes.each do | node | %>
  <div style="margin-left:9px;"> <%= node.id %> </div>
  <% end %>
<% end %>



</body>