<h1>Amend Nodes Panel</h1>
<%= stylesheet_link_tag 'trails.css' %>

<trailname>
  <h1>Node:  <%= @trail.name%>  </h1>
</trailname>

<body>
 <node_id> Node ID | Question | Answer:
    <% @trail.nodes.each do | node | %>
      <div style="margin-left:9px;"> ID: <%= node.id %> | Question: "<%= node.question%>" | Answer: "<%= node.answer %>"</div></div>
    
    <% end %>
</node_id>

<div>
    <% @trail.nodes.each do |node| %>
        <div>Amend ID: <%= node.id %></div>
        <div class="toggle-update-form-button" data-node-id="<%= node.id %>">Toggle form</div>
        <div id="update-form-<%= node.id %>" class="hidden node-form-wrapper">
            <%= form_with model: @node, :url => node_update_path do |form| %>


  <div>
    <%= form.hidden_field :node_id, value: node.id%>
    
   </div>

   <div> 
    <%= form.label :Question %><br>
    <%= form.text_area :question %>
   
   
  </div>

  <div>
    
    <%= form.label :Answer %><br>
    <%= form.text_area :answer %>
    
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>

        </div>
    <% end %>
</div>
  




<h3>Create a new node in trail:</h3>
<button type="button" id="create-node-button">Create</button> 


<createnode id= "createnode" class="hidden">
<%= form_with model: Node.new, url:"/admin/trails/" + @trail.id.to_s do |form| %>




  <div>
    <%= form.hidden_field :trail_id, value: @trail.id %>
    <%= form.label :Question %><br>
    <%= form.text_area :question %>
  </div>

  <div>
    
    <%= form.label :Answer %><br>
    <%= form.text_area :answer %>
    
  </div>

  <div>
     <%= form.label :Hint_Image_URL %><br>
    <%= form.text_area :image %>
  
  </div>

  <div>
  Image classify question:
    <%= form.select :image_question, ['false', 'true']%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

</createnode>



</body>

<script>
document.getElementById("create-node-button").addEventListener("click", function() {
  document.getElementById("createnode").classList.toggle("hidden");
  
});
</script>

<script>
    document.querySelectorAll(".toggle-update-form-button").forEach(function(button) {
        button.addEventListener("click", function(e) {
            document.getElementById(`update-form-${e.target.dataset.nodeId}`).classList.toggle("hidden");
        });
        const formToShow = 
        document.getElementById
    });
</script>



