<header>
<h2> <%= @trail.name %> </h2>
</header>


<body>

  <question>
    <% if @current_node %> 
    Current Node: <%= @current_node.question%>
  </question>



  <% if current_user.admin %>
    <div> Answer: </div>
    <%= @current_node.answer %>
  <% end %>

  <main>
  <section class="image-section">
    <img src="" id="image" />
  </section>

  <section class="file-section">
    <div class="file-group">
      <label for="file-input">Upload a picture</label>
      <input type="file" id="file-input" />
    </div>
  </section>
</main>


<% if @current_node.hint %>
  <nodehint>
    <img id="node-hint" <img style="max-width: 200px;"src="<%= @current_node.hint %>" class="hidden" />
  </nodehint>
  <button type="button" id="show-hint-button">Hint</button> 
<% end %>


 

  
<form>
    <%= form_with url: check_answer_path, local: true do |f| %>
    <%= f.label :answer %>
    <%= f.text_field :answer %>
    <%= f.hidden_field :node_id, value: @current_node.id %>
    <%= f.submit %>
    
  <% end %>
</form>  

<% else %>
  <div>You've completed the trail!</div>
<% end %>


</body>


<script>
document.getElementById("show-hint-button").addEventListener("click", function() {
  document.getElementById("node-hint").classList.remove("hidden");
});
</script>
