<%= link_to "index", trails_path %>
<h1> <%= @trail.name %> </h1>

<% if @current_node %> 
  <div>Current Node: <%= @current_node.question%>
  </div>

  <%= form_with url: check_answer_path, local: true do |f| %>
    <%= f.label :answer %>
    <%= f.text_field :answer %>
    <%= f.hidden_field :node_id, value: @current_node.id %>
    <%= f.submit %>
    
  <% end %>
<% else %>
  <div>You've completed the trail!</div>
<% end %>