<!DOCTYPE html>
<html>
  <head>
    <title>Hiddenworld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <div id="container">
      <div id="user_header">
        <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log Out", session_path("current"), method: "destroy" %>
        <% else %>
          <%= link_to "Sign Up", new_user_path %> or
          <%= link_to "Log In", new_session_path %>
        <% end %>
        </div>

  </body>

  <body style="padding-top:24px">
    <%= yield %>
  </body>
</html>
