<!DOCTYPE html>
<html>
  <head>
 
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <title>Hiddenworld</title>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>







    <header>
      <h1> 
        Hiddn.World
      </h1>
      

  
  <body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%=root_url%>" href="">Home</a>
        </li>
        <% if current_user %>
        <li class="nav-item">
          <a class="nav-link " href="">Trails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="<%=logout_path%>">Log Out</a>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%=signup_path%>">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=login_path%>">Log In</a>
        </li>
        <%end%>

        <% if current_user && current_user.admin %>
            <li class="nav-item">
            <a class="nav-link" href="<%=admin_path%>">Admin</a></a>
        </li>
        <%end%>
      </ul>
      <span class="navbar-text mr-auto">
      <%if current_user%>
        Logged in as <%= current_user.email %>.
        <%end%>
      </span>
    </div>
  </div>
</nav>

<% flash.each do |type, msg| %>
      <div class="alert alert-primary" <%= type %>"><%= msg %></div>
      <% end %>

<div class="row py-3">
  <div class="col-2"></div>
  <div class="col-8 bg-success rounded" >
    <div class="row">row 1</div>
    <div class="row d-flex justify-content-center">row 2</div>
  </div>
  <div class="col-2"></div>
</div> 
<div class="d-flex justify-content-center">
  <!-- Content here -->


  <% if current_user %>
          <activeuser> Logged in as <%= current_user.email %>. </activeuser>
  
      
    <%end%>
          
</div>        
         
      </ul>
        
      </nav>

    </header>    

  </body>
      

  <body style="padding-top:24px">
    <%= yield %>
     
  </body>
</html>
